{
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "none",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleQuote": false,
  "fluid": false,
  "endOfLine": "auto"
}
