.list {
  margin-top: 30px;
  margin-bottom: 20px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 768px) {
    margin-top: 60px;
  }

  @media (min-width: 992px) {
    margin-top: 100px;
  }
}
