:root {
  // Colors
  --primary: #50FFB1;
  --secondary: #662EDE;
  --danger: #F04E4E;
  --white: #FFFFFF;
  --warning: #FFBE2E;
  --text: #2A334A;

  // Background Colors
  --bg: #D8E4F3;
  --bg-primary: #50FFB1;
  --bg-secondary: #662EDE;
  --bg-danger: #F04E4E;
  --bg-white: #FFFFFF;
  --bg-light: #EFF3F9;
  --bg-warning: #FFBE2E;

  // Radius
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 10px;
  --radius-full: 50%;
}
