:root {
  // Colors
  --primary: #50FFB1;
  --primary-rgb: 80, 255, 177;
  --secondary: #662EDE;
  --danger: #F04E4E;
  --white: #FFFFFF;
  --light: #F5F7F6;
  --warning: #FFBE2E;
  --text: #2A334A;
  --text-rgb: 42, 51, 74;

  // Background Colors
  --bg: #D8E4F3;
  --bg-primary: #50FFB1;
  --bg-primary-rgb: 80, 255, 177;
  --bg-secondary: #662EDE;
  --bg-danger: #F04E4E;
  --bg-white: #FFFFFF;
  --bg-light: #F5F7F6;
  --bg-warning: #FFBE2E;

  // Radius
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 10px;
  --radius-full: 50%;

  // Gap
  --column-gap-md: 24px;
  --row-gap-md: 24px;
  --column-gap-lg: 32px;
  --row-gap-lg: 32px;
}
