.author {
  position: relative;
  box-shadow: 0 0 5px rgba(var(--text-rgb), .15);
  border-radius: var(--radius-sm);
  left: 0;
  transition: all ease-in-out .2s;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:hover {
    left: 3px;
    cursor: pointer;
    background-color: var(--light);
    color: var(--primary);

    & h2 {
      color: var(--primary);
    }
  }

  &__action {
    display: flex;
    padding: 10px 15px;
  }

  &__title {
    font-size: 15px;
    margin-left: 10px;
    color: var(--secondary);
    transition: color ease-in-out .2s;
  }

  @media (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &__action {
      padding: 20px 15px;
    }

    &__title {
      font-size: 18px;
      margin-left: 15px;
    }
  }
}
