.author {
  position: relative;
  background-color: var(--bg-white);
  box-shadow: 0 0 5px rgba(var(--text-rgb), .15);
  border-radius: var(--radius-md);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  padding: 0 15px 20px;
  transform: translateY(0);
  transition: .2s all ease-in-out;
  margin-bottom: 50px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(var(--text-rgb), .15);
  }

  &__action {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    transition: all ease-in-out .2s;
    color: var(--secondary);
  }

  &__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, .3));

    img {
      width: 60px;
      background-color: var(--bg-white);
      border-radius: var(--radius-full);
      outline: 3px solid var(--light);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }

  &__btn {
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: var(--radius-md);
    background-image: var(--gradient-primary);
    color: var(--light);
    font-size: 18px;
    font-weight: 500;
    transition: .2s ease-in-out opacity;

    &:hover {
      opacity: .8;
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 90px;

    &__action {
      margin-top: 50px;
      margin-bottom: 15px;
    }

    &__img {
      top: -50px;

      img {
        width: 100px;
      }
    }
  }

  @media (min-width: 992px) {
    border-radius: var(--radius-lg);
    max-width: 400px;
    margin-bottom: 100px;
    padding: 0 20px 40px;

    &__action {
      margin-top: 80px;
      margin-bottom: 25px;
    }

    &__img {
      top: -70px;

      img {
        width: 140px;
      }
    }

    &__btn {
      width: 180px;
      height: 50px;
      line-height: 50px;
      font-size: 22px;
      font-weight: 500;
    }
  }
}
